<div class="container">

  <h1>Reading List</h1>

  <ol class="breadcrumb">
    <li class="active">
      Books
    </li>
  </ol>

  <div class='row'>
    <div class='col-sm-12'>
      <p>
        <form>
          <legend>Search</legend>
          <div class='col-xs-4'>
            <input type='text' class='form-control' value='<%= params[:keyword] %>' name='keyword' placeholder='Keyword' >
          </div>
        </form>
      </p>
      <!--<p class='pull-right'>
        <a href='#' id='show-form' class='btn btn-primary'>New Book Form</a>
      </p>-->
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-sm-8">
      <ul class="list-unstyled">

        <% @books.each do |book| %>
          <li class="row rating-<%= book.rating %>">
            <div class="col-sm-3">
              <a href="#" target="_blank">
                <%= image_from_amazon(book.amazon_id) %>
              </a>
              <p class="text-center rating"><strong><%= book.rating %></strong>/5</p>
            </div>

            <div class="col-sm-9">
              <h3><a href="#"><%= book.title %></a></h3>
              <p class="text-muted"><em>Written by <%= book.author %></em></p>

              <div>
                <p>
                  <%= book.description %>
                </p>
              </div>
              <span>
                <% book.genres.each do |genre| %>
                  <%= link_to genre.name, '#', class: 'label label-primary' %>
                <% end %>
              </span>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="col-sm-4">
      <h2>Genres</h2>
      <ul class="list-unstyled">
        <% @genres.each do |genre| %>
          <li>
            <%= link_to genre.name, books_path(filter: genre.name),
              class: 'label label-primary' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
